{% extends 'index.html' %}
  
    {% load static %}
    
    {% block content %}

    {% load i18n %}
    
    <div class="container" style="width: 500px; height: fit-content;">
      <div class="row">">
         
            <div class="contact-form">
<h2>Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn"><i class="icon-lock4"></i> Change Password</button>
</form>    


</div>
</div>
</div>

    
{% endblock content %}
    

