{% extends 'index.html' %}
  
    {% load static %}
    
    {% block content %}

    {% load i18n %}
    
    <div class="container" style="width: 500px; height: fit-content;">
        <div class="row">
         
            <div class="contact-form">
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="/">Back to..<i class="fas fa-home"></i> </a>
        <button class="btn" type="submit">Reset <i class="fas fa-check-circle"></i></button>
    
    </form>

            </div>
        </div>
    </div>
{% endblock content %}